PHI_URL=....
QWEN_URL=...

EMBEDS_URL=...
DEFAULT_MODEL=microsoft/Phi-4-mini-instruct
DEFAULT_EMBEDDING=intfloat/multilingual-e5-large-instruct-modal

API_KEY=...
EMBEDS_API_KEY=...

GROBID_URL=...
GROBID_QUANTITIES_URL=...


QWEN_URL=...
GROBID_MATERIALS_URL=... 
API_KEY=... 
EMBEDS_API_KEY=...